body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
  color: #000;
}
.main section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 3% 0;
  color: rgb(0, 0, 0);
}
.main h2 {
  width: 100%;
  text-align: center;
  color: #000;
  padding: 10px 0;
}
.main img.infos {
  padding: 0 5%;
  width: 86%;
}
.main section .texts {
  width: 400px;
  margin-top: 0;
}
.main section .texts h1 {
  font-size: 50px;
  margin: 0;
  color: #F20455;
}
.main section img {
  width: 550px;
}
.main section button {
  padding: 15px 30px;
  border: none;
  background: #F20455;
  color: #fff;
  border-radius: 30px;
}

.profile {
  max-width: 600px;
}
.profile img {
  width: 100px;
  border-radius: 20px;
  margin: 30px 0;
  border: 4px solid #f20455;
  padding: 10px;
  background: #f0f0ed;
}
.profile h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  margin: 0;
}
.profile p {
  font-size: 14px;
  font-weight: 400;
  margin: 10px 0;
  color: #c0c0c0;
}
.profile .edit {
  display: flex;
  align-items: center;
  margin: 0px 0 15px 0;
  width: 100%;
  font-size: 12px;
  font-weight: 700;
}
.profile label {
  margin: 10px 0;
}
.profile svg {
  padding: 10px;
  border: 1px solid rgb(234, 226, 242);
  color: rgb(202, 201, 201);
  margin-right: 10px;
}
.profile .edit input {
  visibility: hidden;
  margin: -10px;
  border-radius: 0;
  outline: none;
  width: 10px;
}
.profile .edit:hover svg {
  color: #F20455;
  cursor: pointer;
}
.chats {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid rgb(234, 226, 242);
  background: rgb(242, 234, 242);
  font-family: "Bahnschrift";
}
.chats .msg-box {
  background: #fff;
  min-height: 300px;
  padding: 10px;
  position: relative;
}
.chats .msg-box .msgs {
  min-height: 300px;
}
.chats .msg-box .msg {
  padding: 10px;
}
.chats .msg-box .msg span {
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 12px;
}
.chats .msg-box .msg span.date {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
}
.chats .msg-box .msg p {
  background: rgb(234, 234, 242);
  border-radius: 20px;
  margin: 5px 0;
  padding: 10px 20px;
  margin-top: 10px;
  max-width: 50%;
  font-size: 12px;
}
.chats .msg-box .msg.user {
  float: right;
}
.chats .msg-box .msg.user p {
  max-width: 100%;
  background-color: #F20455;
  color: #Fff;
}
.chats .msg-box .msg-new {
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center
}
.chats .msg-box .msg-new input {
  flex: 1;
  padding: 16px;
  outline: none;
  border: 1px solid #efe3e7;
}
.chats .msg-box .msg-new button {
  padding: 16px 30px;
  margin-top: 10px;
  background-color:  #F20455;
  border: 1px solid #f20455;
  border-radius: 3px;
  color: #fff;
}
button.logout {
  padding: 15px 30px;
  border-radius: 20px;
  color: #fff;
  background: #F20455;
  margin: 10% 5% 10% 0;
  border: none;
  float: right;
}

/* loader */
.loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.loader {
  width: 30px;
  height: 30px;
  border-top: 5px solid orange;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid orange;
  border-radius: 50%;
  text-align: center;
  animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}